    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">Bodima </span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->     

                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                       
                 
                        <li class="nav-item"><a class="scrollto" href="#about">About</a></li>

                        <!--<li class="nav-item"><a class="scrollto" href="#license"  *ngIf="auth.isAuthenticated()">Notifications<span class="badge badge-notify notify">2</span></a></li>                 
                        <li class="nav-item last"><a class="scrollto" href="#contact"  *ngIf="auth.isAuthenticated()">List<span class="badge badge-notify notify">10</span></a></li>-->

                    </ul><!--//nav-->
                    <ul class="nav navbar-nav navbar-right">
                <li class="nav-item last">
                    <div class="ui buttons btn-nav">
                    <!--<button class="ui button"  *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</button>
                    <button class="ui button btn-primary" *ngIf="auth.isAuthenticated()"  (click)="auth.logout()">Log Out</button>-->
                    <div class="or"></div>
                    <button class="ui positive button">Sign Up</button>
                    </div>
                </li>
            </ul>
            
                </div><!--//navabr-collapse-->
                
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
    