<app-header > </app-header>

<section id="search" class="contact section has-pattern">
    <div class="container">
    

<div class="ui menu">
  <div class="item">
    <div class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
  </div>
  <div class="item">
    <div class="ui blue range range-slider" id="my-range"></div> 
  </div>
  <div class="item">
      <div class="ui compact menu">
  <div class="ui simple dropdown item">
    Gender
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">Male</div>
      <div class="item">Female</div>
      
    </div>
  </div>
</div>
  </div>
  <div class="right item">
    <div class="ui action input">
     <div class="ui vertical menu">
  <div class="ui dropdown item">
    Categories
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Electronics</a>
      <a class="item">Automotive</a>
      <a class="item">Home</a>
    </div>
  </div>
</div>
     
    </div>
  </div>
</div>

                    <div class="ui stackable four column grid">
                          <div class="column">
                            <div class="ui card orange">
                                <div class="ui slide masked reveal image">
                                    <img src="../assets/images/home.jpg" class="visible content">
                                    <img src="../assets/images/home2.jpg" class="hidden content">
                                </div>
                                <div class="content">
                                    <i class="fa fa-female right floated meta female" style="font-size:30px;"aria-hidsden="true"></i> 
                                  
                                    <div class="meta">
                                    <span class="date">Address<h6>48/2B Dodanwala Passage Kandy</h6></span>
                                    </div>
                                    <div class="meta">
                                    <span class="date">Price<h5 class="hilight">Rs:5000</h5></span>
                                    </div>                   
                                </div>
                                <div class="extra content">
                                    
                                    <a>
                                    <i class="users icon"></i>
                                    2 Members
                                    </a>
                                    <a class="pull-right">
                                    <i class="home icon"></i>
                                    3 Rooms
                                    </a>        
                                </div>
                                    <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Add to list
                                    </div>
                                </div>
                        </div>

                         <div class="column">
                            <div class="ui card green">
                                <div class="ui slide masked reveal image">
                                    <img src="../assets/images/home.jpg" class="visible content">
                                    <img src="../assets/images/home2.jpg" class="hidden content">
                                </div>
                                <div class="content">
                                     <i class="fa fa-male right floated meta male" style="font-size:30px;"aria-hidden="true"></i> 
                                   
                                    <div class="meta">
                                    <span class="date">Address<h6>48/2B Dodanwala Passage Kandy</h6></span>
                                    </div>
                                    <div class="meta">
                                    <span class="date">Price<h5 class="hilight">Rs:5000</h5></span>
                                    </div> 
                                </div>
                                <div class="extra content">
                                    
                                    <a>
                                    <i class="users icon"></i>
                                    2 Members
                                    </a>
                                </div>
                                    <div class="ui bottom attached button">
                                    <i class="add icon"></i>
                                    Add to list
                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="text-center">
                    <ul class="pagination ">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="disabled"><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
                    </div>
        </div><!--//container-->
        
    </section><!--//contact-->  

 